    
  ul.links li.menu-icon-175,
  ul.menu li.menu-icon-175 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    float:left;
    min-width: 200px;
    max-width: 33.3%;
    width: 30%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    display: flex;
  }

  ul.links li.menu-icon-175 a,
  ul.menu li.menu-icon-175 a{
    width:100%;
  }

  ul.links li.menu-icon-175  .animation-image,
  ul.menu li.menu-icon-175   .animation-image{
    display: block;
    width:100%;
    height:150px;
    border-radius: 10px;
    background-image: url(../../menu_icons/modele.png);       
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    
    transition: all 0.3s linear;
  }

  ul.links li.menu-icon-175:hover  .animation-image,
  ul.menu li.menu-icon-175:hover  .animation-image{
    background-size: 110%;
  }

  ul.links li.menu-icon-175  .animation-title,
  ul.menu li.menu-icon-175  .animation-title{
    display: block;
    text-align: center;
  }

    
  ul.links li.menu-icon-178,
  ul.menu li.menu-icon-178 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    float:left;
    min-width: 200px;
    max-width: 33.3%;
    width: 30%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    display: flex;
  }

  ul.links li.menu-icon-178 a,
  ul.menu li.menu-icon-178 a{
    width:100%;
  }

  ul.links li.menu-icon-178  .animation-image,
  ul.menu li.menu-icon-178   .animation-image{
    display: block;
    width:100%;
    height:150px;
    border-radius: 10px;
    background-image: url(../../menu_icons/modeleairelimitee.png);       
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    
    transition: all 0.3s linear;
  }

  ul.links li.menu-icon-178:hover  .animation-image,
  ul.menu li.menu-icon-178:hover  .animation-image{
    background-size: 110%;
  }

  ul.links li.menu-icon-178  .animation-title,
  ul.menu li.menu-icon-178  .animation-title{
    display: block;
    text-align: center;
  }

    
  ul.links li.menu-icon-181,
  ul.menu li.menu-icon-181 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    float:left;
    min-width: 200px;
    max-width: 33.3%;
    width: 30%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    display: flex;
  }

  ul.links li.menu-icon-181 a,
  ul.menu li.menu-icon-181 a{
    width:100%;
  }

  ul.links li.menu-icon-181  .animation-image,
  ul.menu li.menu-icon-181   .animation-image{
    display: block;
    width:100%;
    height:150px;
    border-radius: 10px;
    background-image: url(../../menu_icons/animation-radar_6_0_1.png);       
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    
    transition: all 0.3s linear;
  }

  ul.links li.menu-icon-181:hover  .animation-image,
  ul.menu li.menu-icon-181:hover  .animation-image{
    background-size: 110%;
  }

  ul.links li.menu-icon-181  .animation-title,
  ul.menu li.menu-icon-181  .animation-title{
    display: block;
    text-align: center;
  }

    
  ul.links li.menu-icon-184,
  ul.menu li.menu-icon-184 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    float:left;
    min-width: 200px;
    max-width: 33.3%;
    width: 30%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    display: flex;
  }

  ul.links li.menu-icon-184 a,
  ul.menu li.menu-icon-184 a{
    width:100%;
  }

  ul.links li.menu-icon-184  .animation-image,
  ul.menu li.menu-icon-184   .animation-image{
    display: block;
    width:100%;
    height:150px;
    border-radius: 10px;
    background-image: url(../../menu_icons/animation-satellite_9_0.png);       
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    
    transition: all 0.3s linear;
  }

  ul.links li.menu-icon-184:hover  .animation-image,
  ul.menu li.menu-icon-184:hover  .animation-image{
    background-size: 110%;
  }

  ul.links li.menu-icon-184  .animation-title,
  ul.menu li.menu-icon-184  .animation-title{
    display: block;
    text-align: center;
  }

    
  ul.links li.menu-icon-212,
  ul.menu li.menu-icon-212 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    float:left;
    min-width: 200px;
    max-width: 33.3%;
    width: 30%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    display: flex;
  }

  ul.links li.menu-icon-212 a,
  ul.menu li.menu-icon-212 a{
    width:100%;
  }

  ul.links li.menu-icon-212  .animation-image,
  ul.menu li.menu-icon-212   .animation-image{
    display: block;
    width:100%;
    height:150px;
    border-radius: 10px;
    background-image: url(../../menu_icons/metareas_map_cropped_0.png);       
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    
    transition: all 0.3s linear;
  }

  ul.links li.menu-icon-212:hover  .animation-image,
  ul.menu li.menu-icon-212:hover  .animation-image{
    background-size: 110%;
  }

  ul.links li.menu-icon-212  .animation-title,
  ul.menu li.menu-icon-212  .animation-title{
    display: block;
    text-align: center;
  }

    
  ul.links li.menu-icon-215,
  ul.menu li.menu-icon-215 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    float:left;
    min-width: 200px;
    max-width: 33.3%;
    width: 30%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    display: flex;
  }

  ul.links li.menu-icon-215 a,
  ul.menu li.menu-icon-215 a{
    width:100%;
  }

  ul.links li.menu-icon-215  .animation-image,
  ul.menu li.menu-icon-215   .animation-image{
    display: block;
    width:100%;
    height:150px;
    border-radius: 10px;
    background-image: url(../../menu_icons/Frame%206.png);       
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    
    transition: all 0.3s linear;
  }

  ul.links li.menu-icon-215:hover  .animation-image,
  ul.menu li.menu-icon-215:hover  .animation-image{
    background-size: 110%;
  }

  ul.links li.menu-icon-215  .animation-title,
  ul.menu li.menu-icon-215  .animation-title{
    display: block;
    text-align: center;
  }

    
  ul.links li.menu-icon-218,
  ul.menu li.menu-icon-218 {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

    float:left;
    min-width: 200px;
    max-width: 33.3%;
    width: 30%;
    display: block;
    overflow: hidden;
    cursor: pointer;

    display: flex;
  }

  ul.links li.menu-icon-218 a,
  ul.menu li.menu-icon-218 a{
    width:100%;
  }

  ul.links li.menu-icon-218  .animation-image,
  ul.menu li.menu-icon-218   .animation-image{
    display: block;
    width:100%;
    height:150px;
    border-radius: 10px;
    background-image: url(../../menu_icons/GuideMarine_346x275.png);       
    background-repeat: no-repeat;
    background-position: center;

    background-size: 100%;
    
    transition: all 0.3s linear;
  }

  ul.links li.menu-icon-218:hover  .animation-image,
  ul.menu li.menu-icon-218:hover  .animation-image{
    background-size: 110%;
  }

  ul.links li.menu-icon-218  .animation-title,
  ul.menu li.menu-icon-218  .animation-title{
    display: block;
    text-align: center;
  }

